
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
  <title>AMQ Online Message Producer</title>
</head>
<body>
  <div class="container">
    <br>
    <h1>Message Producer Status</h1>

    <p>This server sends a message to a queue via the AMQP protocol every 5 seconds. The queue details are provided below.</p>

    <h4>Uptime</h4>
    <p>{{uptime}}</p>

    <h4>Messages Sent</h4>
    <p>{{sendCount}}</p>

    <h4>Queue Configuration</h4>
    <pre>
      <code>
{{queueConfig}}
      </code>
    </pre>
  </div>
</body>
</html>
